<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <form action="/auth/sign-in" method="post">
        
        <!-- USERNAME -->
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>

        <!-- PASSWORD -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        
        <p><%= loginFailed %></p>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>