<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <%-include('partials/nav.ejs')%>
    <header>Welcome to Project Piolet!</header>
    <main>
        <section>
            <p>
                Project Piolet is a user-friendly web-based tool designed for organizing tasks and projects with ease and flexibility.
                It features a visual board-and-list system where tasks are represented as cards that can be seamlessly moved between customizable lists to track progress.
            </p>
            <p>
                Users collaborate effortlessly by assigning tasks, leaving comments, attaching files, setting deadlines, and using labels to prioritize and categorize work.
                Project Piolet's intuitive drag-and-drop interface and extensive customization options make it ideal for managing both personal tasks and complex team projects across different industries.
            </p>
        </section>
    </main>
</body>
</html>