<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="section-left-appear">
        <br><br><br><br><br>
        <p class="workspace-text">Workspace:</p>
        <% userProjs.forEach((proj) => { %>
            <a class="section-left-text" href="/users/<%= user._id%>/projects/<%=proj._id%>"><%= proj.title %></a>
        <% }) %> 
    </div>
</body>
</html>