<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <small>What should we call your new project?</small>
    <form action="/users/<%= user._id %>/projects" method="POST">

        <input type="text" name="title" id="title" required>
        <button type="submit">Project +</button>

    </form>
</body>
</html>