body {
    background-color: #1E1E24;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    margin: 0;
}
main {
    display: flex;
}
section {
    width: 40vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-left-appear {
    min-height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #A288E3;
    background-color: #121619;
    padding-left: 20px;
}
.section-left-text{
    display: inline-block; 
    border-bottom: 2px solid white;
    padding-bottom: 20px; 
    padding-top: 10px;
    margin-bottom: 0px; 
    width: 15vw;
    color: #94FBAB;
    text-decoration: none;
}
.section-left {
    
}
.view-proj{
    position: fixed;
    top: 70px;
    left: 25px;
}
p>a {
    color: #A288E3; 
    text-decoration: none; 
    padding: 3px 10px;
}
p>a:hover{
    border: 1px solid;
    border-radius: 10px;
    background-color: #94FBAB;
    color:black ;
    padding: 3px;
}
/* .section-right{

} */
.nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: #121619;
    padding: 15px;
    font-size: 1.1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.nav-left {
    display: flex;
    gap: 20px;
}
.nav-right {
    display: flex;
    gap: 20px;
}
.nav-left a,
.nav-right a {
  color: #A288E3; 
  text-decoration: none; 
  padding: 3px 10px;
}

.nav-left a:hover,
.nav-right a:hover {
    border: 1px solid;
    border-radius: 10px;
    background-color: #A288E3;
    color:black ;
    padding: 3px;
}
p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

